.map-legend {
  color: #dadada;
  font-weight: bolder;
  font-size: 15px;
}

.static-series-container {

  g.stack._0>path {
    stroke-width: 3px;
  }
  
//   &>div>div>svg>g:nth-child(4)>g>g>g>g>g>g>text {
//     fill: #dadada;
//     // display: none;
//   }

}

.static-bars-container{
  height: 300px;

  #bar>div>svg>g:nth-child(2)>g:nth-child(2)>g:first-child>g>text {
      display: none;
      // fill: #dadada;
  }

  &>div>div>svg>g:nth-child(4)>g>g>g>g>g text {
    fill: #dadada;
    // display: none;
  }

  rect.bar.deselected {
    opacity: 0.2;
  }
}

.ant-checkbox-group-item {
  color: #dadada;
}

.axis.x, .axis.y{
  color: #dadada;
  font-size: 15px;
}

.y-axis-label, .x-axis-label {
  fill: #dadada
}

path.line {
  fill: none;
}